*{margin:0;padding:0}
ul{list-style: none}
a{text-decoration: none}
img{border:none}
html,body{width:100%;height:100%;font-family: "Microsoft YaHei"}
.clear{clear:both;}
/*header----------------------------*/
.header{background:url("../images/banner.jpg") no-repeat center top ;height:100%;background-size: cover;}
.inner{width:1200px;margin:0 auto}

.header .inner .model{z-index: 999;
    position: absolute;
    width: 93%;
    text-align: center;
    top: 58%;
    left: 3%;
    padding: 23px 0px;
    background: rgba(19, 46, 99, 0.65);
    display: none;
}
.header .inner .model li a{margin:0 50px;}


.header .inner ul i{font-size: 30px;color: #fff;display: none}
.header .inner li a{display-block:inline;float:left;font-size:20px;color:deepskyblue;font-weight: bold;margin:0 90px;height:100px;line-height: 100px;}
.header .inner .box{position:absolute;left:40%;top:30%;border:3px solid yellow;width:740px;height:150px;text-align: center}
.header .inner .box p{font-size: 40px;color:yellow;line-height: 150px;letter-spacing: 30px;}

/*services------------------------------------------------*/
.services{background:#eee;margin-top:20px;}
.services .inner h2{font-size:40px;line-height: 164px;height:164px;color:deepskyblue;letter-spacing: 20px;text-align: center}
.services .inner .left{width:680px;float:left;}
.services .inner .left .left_a .far{width:80px;height:80px;border-radius: 50%;background:#9999ff;float: left;position: relative;margin:5px 10px; }
.services .inner .left .left_a .far i{position: absolute;left:20px;top:20px;font-size: 40px;}
.services .inner .left .left_a .left_a_text{height:110px;}
.services .inner .left .left_a .left_a_text h3{color:#99ccff;font-size: 20px;letter-spacing: 10px;line-height: 20px;}
.services .inner .left .left_a .left_a_text p{font-size: 13px;color:#003300;line-height:27px;}
.services .inner .right{float:right;}
.services .inner .right img{width:400px;height:320px;}

/*projects---------------------------------*/
.projects .inner .projects_pic {float: left;}
.projects .inner .aa{margin:0 4px;}

/*news--------------------------------*/
.news{background:#eee;margin:20px 0;}

.news .inner h2{font-size:40px;line-height: 164px;height:164px;color:deepskyblue;letter-spacing: 20px;text-align: center}
.news .inner .newsa {position:relative;float:left;}
.news .inner .newsaa{margin:0 20px;}
.news .inner .newsa .newsa_text{width:290px;height:290px;border-radius: 50%;
    background:#3366ff;opacity: 0.5;text-align: center;position:absolute;top:40px;left:40px;z-index: 10;
}
.news .inner .newsa .newsa_text span{line-height: 30px;}
.news .inner .newsa .newsa_text h4{color:#ffcc33;font-size:15px;line-height:42px;}
.news .inner .newsa .newsa_text p{font-size:13px;color:#003300;line-height: 26px;margin: 15px 0;}

/*testimonials--------------------------------------*/
.testimonials{padding-botton:70px;}
.testimonials .inner h2{font-size:40px;line-height: 164px;height:164px;color:deepskyblue;letter-spacing: 20px;text-align: center}
.testimonials .inner .tes_pic{float: left;width:172px;height:172px;margin:0 30px;}
.testimonials .inner .tes_text{color:#003300;height:145px;}
.testimonials .inner .tes_text p{font-size:15px;color:#003300;line-height:30px;}
/*contact----------------------*/
.contact{background:#eee;margin:20px 0;}
.contact .inner h2{font-size:40px;line-height: 164px;height:164px;color:deepskyblue;letter-spacing: 20px;text-align: center}
.contact .inner .left{float: left;width:555px;height:170px;margin-right:50px;}
.contact .inner .left h3{font-size:35px;color:#000;line-height:70px;font-weight: bold;}
.contact .inner .right{float: right;}
.contact .inner .right input{border: 1px solid #DADADA;outline: none}
.contact .inner .right .text1{width:238px;height:40px;background: #E6E9EC;border-radius: 4px;}

.contact .inner .right .text3{width:476px;height:174px;background: #E6E9EC;border-radius: 4px;}
.contact .inner .right .sub{width:100px;height:38px;background:#6666ff;border-radius:10px;margin-top:10px;}
.contact .inner .right .sub:hover{background:#f60}

/*footer-------------------------------------------*/

.footer{background:#996600;text-align: center;margin-top:20px}
.footer .inner p{font-size:40px;line-height: 40px;height:40px;color:#fff;}

@media screen and (max-width:1300px){
     .inner{width:50%}
     .header .inner .box{margin-left:-20%}
     .header .inner li a{margin:0 30px;}
}
@media screen and (max-width:1200px){

    .header .inner li a{margin:0 30px;}
    .services{width:100%;overflow: hidden}
    .services .inner .left{float: none;margin:0 20%;}
    .services .inner .right{float: none;margin:0 20% ;}
    .services .inner .right img{width:680px;}
    .projects{text-align: center;}
    .projects .inner .projects_pic{width:30%;}
    .projects .inner .projects_pic img{width:60%}
    .news{text-align: center}
    .news .inner .newsa{width:40%;}
    .news .inner .newsa .newsa_text{position: absolute;left:94px;}
    .testimonials .inner .tes{width:60%;margin:0 20% 10%;}
    .testimonials .inner .tes_text p{margin-left:5%}
    .contact{text-align: center}
    .contact .inner .left{display: none}
    .contact .inner .right{float: none;}
    .contact .inner .right input{padding:0 100px;}
    .footer{margin:0 -20%}
}
@media screen and (max-width:1000px){
    .header .inner .box{display: none;}
    .header .inner ul i{display: block;margin-left: 10%}
    .header .inner .daohang li{display: none}
    .news .inner .newsa{float: none;margin:0 20%;}
    .projects .inner .projects_pic{float: none;width:70%;}

}
@media screen and (max-width:800px){
    .services .inner h2{margin-right:40%}
    .services .inner .left{margin:0 5%}
    .services .inner .right{margin:0 5%}
    .news .inner h2{margin-right:40%}
    .news .inner .newsa{margin:0 10%;}
    .testimonials{display: none}
    .contact .inner h2{margin-right:40%}
    .contact .inner .right{margin-right:40%}
    .footer{margin:0 -30%}
}